/* line 1, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes neonyes {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #66ff00, 0 0 35px #66ff00, 0 0 45px #66ff00, 0 0 55px #66ff00, 0 0 70px #66ff00;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 45px #66ff00, 0 0 60px #66ff00, 0 0 75px #66ff00, 0 0 90px #66ff00, 0 0 110px #66ff00;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #66ff00, 0 0 35px #66ff00, 0 0 45px #66ff00, 0 0 55px #66ff00, 0 0 70px #66ff00;
  }
}
/* line 9, ../sass/style.scss */
html {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.015em;
}

/* line 14, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 18, ../sass/style.scss */
h1 {
  font-size: 36px;
  line-height: 44px;
}

/* line 23, ../sass/style.scss */
h2 {
  font-size: 21px;
  line-height: 25px;
}

/* line 28, ../sass/style.scss */
h3 {
  font-size: 18px;
  line-height: 22px;
}

/* line 33, ../sass/style.scss */
.large {
  font-size: 21px;
}

/* line 37, ../sass/style.scss */
.medium {
  font-size: 16px;
}

/* line 41, ../sass/style.scss */
.small {
  font-size: 12px;
  line-height: 16px;
}

/* line 46, ../sass/style.scss */
section {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 50px;
}

/* line 53, ../sass/style.scss */
section.center {
  text-align: center;
}
/* line 55, ../sass/style.scss */
section.center .section-inner {
  display: inline-block;
  text-align: left;
}

/* line 63, ../sass/style.scss */
header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background-color: #000;
  z-index: 1000;
}
/* line 69, ../sass/style.scss */
header #logo {
  float: left;
  margin-left: 25px;
  margin-right: 100px;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  transform: skewX(-12deg);
}
/* line 78, ../sass/style.scss */
header #links {
  float: right;
  margin-right: 25px;
}
/* line 81, ../sass/style.scss */
header #links .link {
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  margin-right: 10px;
}

/* line 93, ../sass/style.scss */
#top-signup {
  padding-top: 230px;
  padding-bottom: 150px;
  background-color: #000;
  color: #fff;
}
/* line 98, ../sass/style.scss */
#top-signup .section-inner {
  text-align: center;
}
/* line 100, ../sass/style.scss */
#top-signup .section-inner .vacancy {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
  text-align: left;
}
/* line 106, ../sass/style.scss */
#top-signup .section-inner .vacancy .status {
  margin-bottom: 50px;
  font-family: 'Ostrich Sans';
  font-weight: 200;
  font-size: 100px;
  line-height: 80px;
}
/* line 112, ../sass/style.scss */
#top-signup .section-inner .vacancy .status .yes {
  display: inline-block;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #66ff00, 0 0 35px #66ff00, 0 0 45px #66ff00, 0 0 55px #66ff00, 0 0 70px #66ff00;
  animation-name: neonyes;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* line 120, ../sass/style.scss */
#top-signup .section-inner .vacancy .status .no {
  display: inline-block;
  text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #ff0e00, 0 0 45px #ff0e00, 0 0 55px #ff0e00, 0 0 65px #ff0e00, 0 0 80px #ff0e00;
}
/* line 126, ../sass/style.scss */
#top-signup .section-inner .signup {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 300px;
  text-align: left;
}
/* line 132, ../sass/style.scss */
#top-signup .section-inner .signup .message {
  margin-bottom: 25px;
}
/* line 22, ../sass/functions.scss */
#top-signup .section-inner .signup form.subscribe {
  font-family: 'Roboto', sans-serif;
}
/* line 24, ../sass/functions.scss */
#top-signup .section-inner .signup form.subscribe input {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}
/* line 28, ../sass/functions.scss */
#top-signup .section-inner .signup form.subscribe input.email {
  display: inline-block;
  background-color: transparent;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
}
/* line 36, ../sass/functions.scss */
#top-signup .section-inner .signup form.subscribe input[name='subscribe'] {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
/* line 43, ../sass/functions.scss */
#top-signup .section-inner .signup form.subscribe input:focus {
  outline: none;
}

/* line 141, ../sass/style.scss */
#carousel {
  overflow: hidden;
  width: 100%;
  height: Calc(100vh - 70px);
  padding: 0px;
  opacity: 0;
}
/* line 151, ../sass/style.scss */
#carousel #Glide .glide__wrapper .glide__track .glide__slide img {
  width: 100%;
  height: auto;
}
/* line 159, ../sass/style.scss */
#carousel #Glide .glide__arrows .glide__arrow {
  width: 50px;
  height: auto;
  padding: 10px;
  border: none;
  border-radius: 0;
  background-color: #000;
}
/* line 166, ../sass/style.scss */
#carousel #Glide .glide__arrows .glide__arrow svg {
  width: auto;
  fill: none;
}
/* line 170, ../sass/style.scss */
#carousel #Glide .glide__arrows .glide__arrow svg g line, #carousel #Glide .glide__arrows .glide__arrow svg g polyline {
  stroke-width: 4px;
  fill: none;
  stroke: #fff;
}

/* line 185, ../sass/style.scss */
#info #about {
  max-width: 600px;
  padding-top: 100px;
  font-weight: 700;
}
/* line 190, ../sass/style.scss */
#info #facility {
  display: inline-block;
  margin-right: 100px;
  margin-bottom: 50px;
  max-width: 400px;
  padding-top: 100px;
}
/* line 196, ../sass/style.scss */
#info #facility h2 {
  font-weight: 700;
  margin-bottom: 10px;
}
/* line 200, ../sass/style.scss */
#info #facility .tagline {
  margin-bottom: 25px;
}
/* line 203, ../sass/style.scss */
#info #facility .list {
  width: 300px;
}
/* line 205, ../sass/style.scss */
#info #facility .list .list-item {
  font-size: 0px;
  letter-spacing: 0px;
  margin-bottom: 10px;
}
/* line 209, ../sass/style.scss */
#info #facility .list .list-item .dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-top: 7px;
  border-radius: 100%;
  margin-right: 10px;
  background-color: #000;
  vertical-align: top;
}
/* line 219, ../sass/style.scss */
#info #facility .list .list-item .text {
  display: inline-block;
  width: Calc(100% - 14px);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.015em;
}
/* line 229, ../sass/style.scss */
#info #pricing {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  padding-top: 100px;
}
/* line 234, ../sass/style.scss */
#info #pricing .price {
  margin-bottom: 25px;
}
/* line 236, ../sass/style.scss */
#info #pricing .price h2 {
  font-weight: 700;
  margin-bottom: 10px;
}
/* line 242, ../sass/style.scss */
#info #pricing .signup h2 {
  font-weight: 700;
  margin-bottom: 10px;
}
/* line 22, ../sass/functions.scss */
#info #pricing .signup form.subscribe {
  font-family: 'Roboto', sans-serif;
}
/* line 24, ../sass/functions.scss */
#info #pricing .signup form.subscribe input {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}
/* line 28, ../sass/functions.scss */
#info #pricing .signup form.subscribe input.email {
  display: inline-block;
  background-color: transparent;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
}
/* line 36, ../sass/functions.scss */
#info #pricing .signup form.subscribe input[name='subscribe'] {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}
/* line 43, ../sass/functions.scss */
#info #pricing .signup form.subscribe input:focus {
  outline: none;
}

/* line 251, ../sass/style.scss */
footer {
  width: 100%;
  background-color: #000;
  padding: 10px 0px;
  overflow: hidden;
}
/* line 256, ../sass/style.scss */
footer a {
  margin-left: 25px;
  color: #fff;
}
/* line 260, ../sass/style.scss */
footer .address {
  position: relative;
  float: right;
  margin-right: 25px;
  color: #fff;
}
/* line 266, ../sass/style.scss */
footer .address .icon {
  position: absolute;
  left: 0;
  top: Calc(50% - 8px);
  height: 16px;
  width: auto;
  transform: translateX(-100%);
}
/* line 273, ../sass/style.scss */
footer .address .icon svg {
  height: 100%;
  width: auto;
}
/* line 276, ../sass/style.scss */
footer .address .icon svg .st0 {
  stroke: none;
}
/* line 281, ../sass/style.scss */
footer .address .location {
  display: inline-block;
  padding-left: 10px;
}
