@keyframes neonyes {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #66ff00, 0 0 35px #66ff00, 0 0 45px #66ff00, 0 0 55px #66ff00, 0 0 70px #66ff00;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 45px #66ff00, 0 0 60px #66ff00, 0 0 75px #66ff00, 0 0 90px #66ff00, 0 0 110px #66ff00;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #66ff00, 0 0 35px #66ff00, 0 0 45px #66ff00, 0 0 55px #66ff00, 0 0 70px #66ff00;
  }
}


